$green-1: #35e65d;
$grey-1: #cdd8ec;
$grey-2: #f4f7f9;
$grey-3: #b5b5b5;
$turqois-1: #ff7070;
$turqois-2: #a3eaf7;
$white: #fff;
$red-1: #ed1c24;
$red-2: #ff7070;
$blue-1: #ed1c24;
$blue-2: #ff7070;
$namespace: "rw-";
$tertiary: #ed1c24;